@mixin style-font {
    .text__bold {
        font-size: 25px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 10px;
        line-height: 26px
    }
    .text__small-light {
        font-size: 17px;
        margin: 0;
        margin-bottom: 10px;
    }
    .title__bold-black {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 700;
    }
}

@keyframes pulse {
    0% {
      transform: scale(0);
    }
    75% {
      transform: scale(1.75);
    }
    100% {
      transform: scale(1.5);
    }
}
@mixin icon-save {
    .icon-save {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
        .icon-save__active {
            display: flex;
            font-size: 22px;
        }
        .icon-save__disabled {
            display: flex;
            font-size: 22px;
            position: absolute;
            opacity: 0%;
            color: white;
            transform: scale(1.5);
        }
        .icon-save__disabled:hover {
            opacity: 100%;
            background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1.5);
            animation: pulse 1s; 
        }
        .icon-save__disabled:active {
            background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
@keyframes surf {
    from {
        opacity: 0%;
        transform: translateY(-10px);
    }
    to {
        opacity: 100%;
    }
}

@keyframes loader {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loader-page {
    0% {
        opacity: 100%;
        z-index: 1;
        
    }
    99% {
        opacity: 0%;
        
    }
    100% {
        opacity: 0%;
        z-index: -1;
        color: white;
        height: 0%;
        
    }
}

@media only screen and (min-width: 1024px) {
    .separator-line__style {
        width: 50%;
        border-top: 2px solid #99E2D0 ;
    }
}





