@mixin style-font {
    .text-bold {
        font-size: 25px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 10px;
        line-height: 26px
    }
    .small-text-light {
        font-size: 17px;
        margin: 0;
        margin-bottom: 10px;
    }
    .title-bold-black {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 700;
    }
}

@keyframes pulse {
    0% {
      transform: scale(0);
    }
    75% {
      transform: scale(1.75);
    }
    100% {
      transform: scale(1.5);
    }
}
@mixin icon-save {
    .card-icons-save {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
        .icon-save-active {
            display: flex;
            font-size: 22px;
        }
        .icon-save-disabled {
            display: flex;
            font-size: 22px;
            position: absolute;
            opacity: 0%;
            color: white;
            transform: scale(1.5);
        }
        .icon-save-disabled:hover {
            opacity: 100%;
            background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1.5);
            animation: pulse 1s; 
        }
        .icon-save-disabled:active {
            background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@keyframes loader {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
/* @keyframes loader-active {
    from {
        opacity: 0%;
    }
    to {
        transform: translateX(50px);
        opacity: 100%;
    }
} */
@keyframes loader-page {
    from {
        @keyframes loader-disable {
            from {
                opacity: 100%;
            }
            to {
                opacity: 0%;
            }
        }
        opacity: 100%;
        z-index: 1;
        position: absolute;
    }
    to {
        opacity: 0%;
        z-index: -1;
        position: relative;
    }
}
.loader {
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 350%;
    overflow: hidden;
    opacity: 100%;
    animation: loader-page 2s forwards;
    animation-delay: 3.4s;
    .loader__active {
        animation-name: loader-disable;
        animation-delay: 3.20s;
        animation-duration: 1s;
        opacity: 100%;
        .loader__font-style {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: fixed;
            width: 100%;
            height: 100%;
            color: linear-gradient(to bottom right, #FF79DA 10%, #9356DC 80%);
            font-family: Shrikhand;
            font-size: 100px;
            letter-spacing: 40px;
            p:nth-child(1) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 1.30s;
            }
            p:nth-child(2) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 1.60s;
            }
            p:nth-child(3) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 1.90s;
            }
            p:nth-child(4) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 2.20s;
            }
            p:nth-child(5) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 2.50s;
            }
            p:nth-child(6) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 2.80s;
            }
            p:nth-child(7) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 3.20s;
            }
        }
    }
    /* .loader__disable {
        animation-name: loader-active;
        animation-duration: 1s;
        opacity: 0%;
        .loader__font-style {
            p:nth-child(1) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 1.30s;
            }
            p:nth-child(2) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 1.60s;
            }
            p:nth-child(3) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 1.90s;
            }
            p:nth-child(4) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 2.20s;
            }
            p:nth-child(5) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 2.50s;
            }
            p:nth-child(6) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 2.80s;
            }
            p:nth-child(7) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 3.20s;
            }
        } 
    }*/
}




