@import "restaurant";
@import "global";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

@include style-font;

.header {
    display: flex;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    height: 60px;
    justify-content: center;
    .header__logo {
        width: 150px;
        height: 30px;
        margin: 0px;
    }
}
.header__position-items {
    display: flex;
    align-items: center;
}
.search_bar {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #d9d9d9;
    align-items: center;
    justify-content: center;
    .search_bar-input {
        width: 120px;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        color: black;
        font-weight: 400;
        background-color: #d9d9d9;
        border: none;
        text-align: center;
    }
    ::placeholder {
        color: black;
    }
}

.discover {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background-color: #f2f2f2;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    .discover-button {
        font-size: 15px;
        color: white;
        background: linear-gradient(to bottom right, #FF79DA 10%, #9356DC 80%);
        box-shadow: 0px 3px 3px 3px #cccccc;
        height: 45px;
        width: 220px;
        margin-top: 20px;
        border-radius: 25px;
        border: none;
    }
    .discover-button:hover {
        transition-duration: 1s;
        font-size: 20px;
        border-radius: 50px;
        height: 60px;
        width: 280px;
        box-shadow: 0px 1px 1px 10px #99E2D0;
    }
}

.guide {
    width: 100%;
    .guide-position-items {
        margin-right: 20px;
        margin-left: 20px;
        .guide-items-step {
            .guide-step {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-bottom: 20px;
                .bubble-step {
                    font-family: 'Roboto', sans-serif;
                    font-size: 11px;
                    position: absolute;
                    background-color: #9356DC;
                    color: white;
                    border-radius: 50%;
                    padding-top: 5px;
                    padding-bottom: 2px;
                    padding-right: 7px;
                    padding-left: 7px;
                }
                .card-step {
                    display: flex;
                    font-family: 'Roboto', sans-serif;
                    font-size: 15px;
                    align-items: center;
                    justify-content: start;
                    background-color: #f2f2f2;
                    box-shadow: 0px 3px 6px 2px #d6d6d6;
                    border: none;
                    border-radius: 20px;
                    width: 100%;
                    height: 70px;
                    margin-left: 10px;
                    .icon_step {
                        font-size: 18px;
                        margin-left: 30px;
                        margin-right: 30px;
                    }
                }
            }
            .guide-step-one {
                animation-duration: 1s;
                animation-name: surf;
            }
            .guide-step-two {
                animation-duration: 2s;
                animation-name: surf;
            }
            .guide-step-three {
                animation-duration: 3s;
                animation-name: surf;
            }
            
        }
    }
}

.restaurant {
    width: 100%;
    .restaurant-items-position {
        .restaurant-items {
            margin-right: 20px;
            margin-left: 20px;
            .restaurant-card {
                display: flex;
                flex-direction: column;
                background-color: white;
                color: black;
                box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.5), -5px 0px 5px  rgba(204, 204, 204, 0.5) ;
                margin: 0px 0px 20px 0px;
                transition: 0.3s;
                height: 240px;
                width: 100%;
                border-radius: 20px;
                cursor: pointer;
                text-decoration: none;
            }
            .img-restaurant {
                display: flex;
                object-fit: cover;
                height: 70%;
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px; 
            }
            .restaurant-card:hover {
                box-shadow: 10px 10px 10px grey, -10px 0px 10px  grey ;
                transform: scale(1.005);
            }
            
            .infos-card {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 15px;

                @include icon-save;

                .card-notation {
                    display: flex;
                    flex-direction: column;
                    line-height: 23px;
                    flex-grow: 1;
                    .card-title {
                        font-size: 18px;
                        font-family: 'Roboto', sans-serif;
                        margin: 0;
                    }
                    .card-notation {
                        font-size: 15px;
                        font-family: 'Roboto', sans-serif;
                        margin: 0;
                    }
                }
            }
            .card-restaurant-one {
                animation-duration: 1s;
                animation-name: restaurant;
            }
            .card-restaurant-two {
                animation-duration: 1.5s;
                animation-name: restaurant;
            }
            .card-restaurant-three {
                animation-duration: 2s;
                animation-name: restaurant;
            }
            .card-restaurant-four {
                animation-duration: 2.5s;
                animation-name: restaurant;
            }
            @keyframes restaurant {
                from {
                    opacity: 0%;
                    transform: translateY(30px);
                }
                to {
                    opacity: 100%;
                }
            }
            
        }
    }
}
.footer__group {
    width: 100%;
    background-color: #333333;
    .footer__position-items {
        margin: 20px;
        .footer__logo {
            font-family: Shrikhand;
            font-size: 20px;
            color: white;
        }
        .footer__text {
            font-size: 15px;
            color: white;
            margin-right: 10px;
            font-family: 'Roboto', sans-serif;
            .footer__icon-one {
                margin-right: 5px;
                font-size: 14px;
            }
            .footer__icon-two {
                margin-right: 5px;
                font-size: 14px;
            }
        }
    }
    
}
.loader {
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 320%;
    overflow: hidden;
    opacity: 100%;
    animation: loader-page 2s forwards;
    animation-delay: 3s;
    .loader__active {
        animation-name: loader-disable;
        animation-delay: 3.2s;
        animation-duration: 1s;
        opacity: 100%;
        .loader__font-style {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: fixed;
            width: 100%;
            height: 100%;
            color: linear-gradient(to bottom right, #FF79DA 10%, #9356DC 80%);
            font-family: Shrikhand;
            font-size: 35px;
            letter-spacing: 20px;
            p:nth-child(1) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 1.30s;
            }
            p:nth-child(2) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 1.60s;
            }
            p:nth-child(3) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 1.90s;
            }
            p:nth-child(4) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 2.20s;
            }
            p:nth-child(5) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 2.50s;
            }
            p:nth-child(6) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 2.80s;
            }
            p:nth-child(7) {
                transform: scale(1);
                animation-name: loader;
                animation-duration: 3.20s;
            }
        }
    }
    
}

@media only screen and (min-width: 1024px) {
    .guide {
        .guide-position-items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
            .guide-items-step {
                display: flex;
                flex-direction: row;
                width: 90%;
                justify-content: space-between;
                margin-top: 50px;
                .guide-step {
                    .bubble-step {
                        font-size: 15px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                    .card-step {
                        font-size: 15px;
                        margin-left: 10px;
                        padding-right: 15px;   
                    }         
                }   
            }       
        }
    }  
    .restaurant {
        .restaurant-items-position {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            .restaurant-items {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                margin-top:50px;
                margin-bottom:50px;
                .restaurant-card {
                    width: 20%;
                }
                .img-restaurant {
                    display: flex;
                    object-fit: cover;
                    width: 100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px; 
                }
                
                
            }
        }
    }    
}

@media only screen and (min-width: 1600px) {
    .guide {
        .guide-position-items {
            .guide-items-step {
                width: 60%;
                .guide-step {
                    .card-step {
                        font-size: 18px;
                    }         
                }   
            }       
        }
    }  
}

