@keyframes pulse {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes surf {
  from {
    opacity: 0%;
    transform: translateY(-10px);
  }
  to {
    opacity: 100%;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-page {
  0% {
    opacity: 100%;
    z-index: 1;
  }
  99% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
    z-index: -1;
    color: white;
    height: 0%;
  }
}
@media only screen and (min-width: 1024px) {
  .separator-line__style {
    width: 50%;
    border-top: 2px solid #99E2D0;
  }
}
.header__restaurant {
  display: flex;
  border-bottom: 2px solid #cccccc;
  width: 100%;
  height: 60px;
}

.header__position-items .header__link-home {
  display: flex;
  flex-grow: 0.5;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}
.header__position-items .header__icon-return {
  font-size: 20px;
}
.header__position-items .header__logo {
  width: 150px;
  height: 30px;
  margin: 0px;
}

.background__image {
  height: 200px;
}
.background__image .background__image-restaurant {
  width: 100%;
  margin: 0;
  object-fit: cover;
}

.menu__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f2f2f2;
}
.menu__card .menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
}
.menu__card .menu__header .menu__title {
  display: flex;
  flex-grow: 1;
  font-family: Shrikhand;
  font-size: 25px;
  margin: 0;
}
.menu__card .menu__header .icon-save {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu__card .menu__header .icon-save .icon-save__active {
  display: flex;
  font-size: 22px;
}
.menu__card .menu__header .icon-save .icon-save__disabled {
  display: flex;
  font-size: 22px;
  position: absolute;
  opacity: 0%;
  color: white;
  transform: scale(1.5);
}
.menu__card .menu__header .icon-save .icon-save__disabled:hover {
  opacity: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
  animation: pulse 1s;
}
.menu__card .menu__header .icon-save .icon-save__disabled:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__card .flat-card__group {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.menu__card .flat-card__group .flat-card__group-title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-bottom: 2px solid #99E2D0;
  width: 25px;
  line-height: 35px;
}
.menu__card .flat-card__group .flat-card__group-responsive {
  display: flex;
  flex-direction: column;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style {
  background-color: white;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 0.75rem;
  display: flex;
  width: 100%;
  height: auto;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive {
  width: 100%;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive .flat-card__image {
  display: none;
  object-fit: cover;
  width: 100%;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive .flat-card__items-responsive {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive .flat-card__items-responsive .flat-card__text {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive .flat-card__items-responsive .flat-card__text .flat-card__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive .flat-card__items-responsive .flat-card__text .flat-card__description {
  font-size: 14px;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive .flat-card__items-responsive .flat-card__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive .flat-card__items-responsive .flat-card__validator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  background-color: #99E2D0;
  margin: 0;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive .flat-card__items-responsive .flat-card__validator .flat-card__icon-validator {
  font-size: 25px;
  color: white;
}
@keyframes validator {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive:hover .flat-card__validator {
  animation-name: validator;
  animation-duration: 2s;
  width: 30%;
}
@keyframes icon-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive:hover .flat-card__icon-validator {
  animation-name: icon-rotation;
  animation-duration: 2s;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card-one__animation {
  animation-duration: 1s;
  animation-name: surf;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card-two__animation {
  animation-duration: 2s;
  animation-name: surf;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card-three__animation {
  animation-duration: 3s;
  animation-name: surf;
}
.menu__card .flat-card__group .flat-card__group-responsive .flat-card-four__animation {
  animation-duration: 4s;
  animation-name: surf;
}
.menu__card .foot-page__position-items {
  display: flex;
  justify-content: center;
}
.menu__card .foot-page__position-items .foot-page__order-button {
  font-size: 15px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA 10%, #9356DC 80%);
  box-shadow: 0px 3px 3px 3px #cccccc;
  height: 45px;
  width: 220px;
  margin-top: 40px;
  border-radius: 25px;
  border: none;
}
.menu__card .foot-page__position-items .foot-page__order-button:hover {
  transition-duration: 1s;
  font-size: 20px;
  border-radius: 50px;
  height: 60px;
  width: 280px;
  cursor: pointer;
  box-shadow: 0px 1px 1px 10px #99E2D0;
}

@media only screen and (min-width: 1024px) {
  .flat-card__group {
    display: flex;
    text-align: center;
    justify-items: center;
  }
  .flat-card__group .flat-card__group-title {
    width: 100% !important;
    font-size: 20px !important;
  }
  .flat-card__group .flat-card__group-responsive {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    height: 350px !important;
  }
  .flat-card__group .flat-card__group-responsive .flat-card__style {
    width: 20% !important;
    height: auto !important;
  }
  .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
  }
  .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive .flat-card__image {
    display: block !important;
    object-fit: cover !important;
    width: 100%;
    height: 80% !important;
  }
  .flat-card__group .flat-card__group-responsive .flat-card__style .flat-card__image-responsive .flat-card__items-responsive {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes surf {
  from {
    opacity: 0%;
    transform: translateY(-10px);
  }
  to {
    opacity: 100%;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-page {
  0% {
    opacity: 100%;
    z-index: 1;
  }
  99% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
    z-index: -1;
    color: white;
    height: 0%;
  }
}
@media only screen and (min-width: 1024px) {
  .separator-line__style {
    width: 50%;
    border-top: 2px solid #99E2D0;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.text__bold {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  line-height: 26px;
}

.small-text__light {
  font-size: 17px;
  margin: 0;
  margin-bottom: 10px;
}

.title-black__bold {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.header {
  display: flex;
  border-bottom: 2px solid #cccccc;
  width: 100%;
  height: 60px;
  justify-content: center;
}
.header .header__logo {
  width: 150px;
  height: 30px;
  margin: 0px;
}

.header__position-items {
  display: flex;
  align-items: center;
}

.header__search-bar {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: center;
}
.header__search-bar .header__search-bar-input {
  width: 120px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 400;
  background-color: #d9d9d9;
  border: none;
  text-align: center;
}
.header__search-bar ::placeholder {
  color: black;
}

.explorer__style {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  background-color: #f2f2f2;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.explorer__style .explorer__button {
  font-size: 15px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA 10%, #9356DC 80%);
  box-shadow: 0px 3px 3px 3px #cccccc;
  height: 45px;
  width: 220px;
  margin-top: 20px;
  border-radius: 25px;
  border: none;
}
.explorer__style .explorer__button:hover {
  transition-duration: 1s;
  font-size: 20px;
  border-radius: 50px;
  height: 60px;
  width: 280px;
  box-shadow: 0px 1px 1px 10px #99E2D0;
}

.guide {
  width: 100%;
}
.guide .guide__position-items {
  margin-right: 20px;
  margin-left: 20px;
}
.guide .guide__position-items .guide__items-step .guide__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}
.guide .guide__position-items .guide__items-step .guide__step .guide__bubble-step {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  position: absolute;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 7px;
}
.guide .guide__position-items .guide__items-step .guide__step .guide__card-step {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  align-items: center;
  justify-content: start;
  background-color: #f2f2f2;
  box-shadow: 0px 3px 6px 2px #d6d6d6;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 70px;
  margin-left: 10px;
}
.guide .guide__position-items .guide__items-step .guide__step .guide__card-step .guide__icon-step {
  font-size: 18px;
  margin-left: 30px;
  margin-right: 30px;
}
.guide .guide__position-items .guide__items-step .guide__step-one {
  animation-duration: 1s;
  animation-name: surf;
}
.guide .guide__position-items .guide__items-step .guide__step-two {
  animation-duration: 2s;
  animation-name: surf;
}
.guide .guide__position-items .guide__items-step .guide__step-three {
  animation-duration: 3s;
  animation-name: surf;
}

.restaurant {
  width: 100%;
}
.restaurant .restaurant__items-position .restaurant__items {
  margin-right: 20px;
  margin-left: 20px;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.5), -5px 0px 5px rgba(204, 204, 204, 0.5);
  margin: 0px 0px 20px 0px;
  transition: 0.3s;
  height: 240px;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__image {
  display: flex;
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__card:hover {
  box-shadow: 10px 10px 10px grey, -10px 0px 10px grey;
  transform: scale(1.005);
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__infos-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__infos-card .icon-save {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__infos-card .icon-save .icon-save__active {
  display: flex;
  font-size: 22px;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__infos-card .icon-save .icon-save__disabled {
  display: flex;
  font-size: 22px;
  position: absolute;
  opacity: 0%;
  color: white;
  transform: scale(1.5);
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__infos-card .icon-save .icon-save__disabled:hover {
  opacity: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5);
  animation: pulse 1s;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__infos-card .icon-save .icon-save__disabled:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__infos-card .restaurant__group-notation {
  display: flex;
  flex-direction: column;
  line-height: 23px;
  flex-grow: 1;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__infos-card .restaurant__group-notation .restaurant__card-title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__infos-card .restaurant__group-notation .restaurant__card-notation {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__card-one {
  animation-duration: 1s;
  animation-name: restaurant;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__card-two {
  animation-duration: 1.5s;
  animation-name: restaurant;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__card-three {
  animation-duration: 2s;
  animation-name: restaurant;
}
.restaurant .restaurant__items-position .restaurant__items .restaurant__card-four {
  animation-duration: 2.5s;
  animation-name: restaurant;
}
@keyframes restaurant {
  from {
    opacity: 0%;
    transform: translateY(30px);
  }
  to {
    opacity: 100%;
  }
}

.footer__group {
  width: 100%;
  background-color: #333333;
}
.footer__group .footer__position-items {
  margin: 20px;
}
.footer__group .footer__position-items .footer__logo {
  font-family: Shrikhand;
  font-size: 20px;
  color: white;
}
.footer__group .footer__position-items .footer__text {
  font-size: 15px;
  color: white;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
}
.footer__group .footer__position-items .footer__text .footer__icon-one {
  margin-right: 10px;
  font-size: 14px;
}
.footer__group .footer__position-items .footer__text .footer__icon-two {
  margin-right: 5px;
  font-size: 14px;
}
.footer__group .footer__position-items .footer__text .footer__link {
  color: white;
  text-decoration: none;
}

.loader {
  background-color: white;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 320%;
  overflow: hidden;
  opacity: 100%;
  animation: loader-page 2s forwards;
  animation-delay: 3s;
}
.loader .loader__active {
  animation-name: loader-disable;
  animation-delay: 3.2s;
  animation-duration: 1s;
  opacity: 100%;
}
.loader .loader__active .loader__font-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: Shrikhand;
  font-size: 35px;
  letter-spacing: 20px;
}
.loader .loader__active .loader__font-style p:nth-child(1) {
  transform: scale(1);
  animation-name: loader;
  animation-duration: 1.3s;
}
.loader .loader__active .loader__font-style p:nth-child(2) {
  transform: scale(1);
  animation-name: loader;
  animation-duration: 1.6s;
}
.loader .loader__active .loader__font-style p:nth-child(3) {
  transform: scale(1);
  animation-name: loader;
  animation-duration: 1.9s;
}
.loader .loader__active .loader__font-style p:nth-child(4) {
  transform: scale(1);
  animation-name: loader;
  animation-duration: 2.2s;
}
.loader .loader__active .loader__font-style p:nth-child(5) {
  transform: scale(1);
  animation-name: loader;
  animation-duration: 2.5s;
}
.loader .loader__active .loader__font-style p:nth-child(6) {
  transform: scale(1);
  animation-name: loader;
  animation-duration: 2.8s;
}
.loader .loader__active .loader__font-style p:nth-child(7) {
  transform: scale(1);
  animation-name: loader;
  animation-duration: 3.2s;
}

@media only screen and (min-width: 1024px) {
  .guide .guide__position-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .guide .guide__position-items .guide__items-step {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-around;
    margin-top: 50px;
  }
  .guide .guide__position-items .guide__items-step .guide__step .guide__bubble-step {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .guide .guide__position-items .guide__items-step .guide__step .guide__card-step {
    font-size: 15px;
    margin-left: 10px;
    padding-right: 15px;
  }

  .restaurant .restaurant__items-position {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .restaurant .restaurant__items-position .restaurant__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .restaurant .restaurant__items-position .restaurant__items .restaurant__card {
    width: 20%;
  }
  .restaurant .restaurant__items-position .restaurant__items .restaurant__image {
    display: flex;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
@media only screen and (min-width: 1600px) {
  .guide .guide__position-items .guide__items-step {
    width: 85%;
  }
}

/*# sourceMappingURL=style.css.map */
